.contributors-list {
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .contributors-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contributors-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .contributors-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .contributors-list img {
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  .contributors-list img:hover {
    transform: scale(1.3);
  }
  
  .contributors-list span {
    font-weight: bold;
    text-align: center;
  }
  
  .contributors-list span.contributor-title {
    color: #ccc;
  }
  