@import url("https://fonts.googleapis.com/css2?family=Peralta&display=swap");
.foot{
    width: 103.5%;
    text-align: center;
    color: lightblue;
    font-family: "Peralta", cursive;
}

.git{
    text-decoration: none;
    font-size: 3rem;
    color: lightblue;
}
.git:hover{
    color:white;
}