/* Googe fonts imported */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
:root {
  --move: 5s linear forwards;
}
/* CSS applied to all */
*::before,
*::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 2rem auto;
  height: 100vh;
  /* display: grid;
  place-items: center; */
  /* overflow-x: hidden; */
  background: rgb(33,144,129);
  background: linear-gradient(355deg, rgba(33,144,129,1) 34%, rgba(161,27,215,0.9585084033613446) 76%);
}
/* Pacman landing page container */
.container_landing {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem auto;
  margin: 1rem auto;
  height: 600px;
  background: #353b48;
  display: grid;
  place-items: center;
  border: 10px groove lightblue;
  outline: 15px groove purple;
  overflow: hidden;
  position: relative;
}
.container_card{
  background: rgb(33,144,129);
  background: linear-gradient(355deg, rgba(33,144,129,1) 34%, rgba(161,27,215,0.9585084033613446) 76%);
  box-shadow: rgba(241, 236, 242, 0.922) 0px 50px 100px -20px, rgba(245, 241, 241, 0.938) 0px 30px 60px -30px, rgba(235, 238, 241, 0.927) 0px -2px 6px 0px inset;
  border: 2px solid black;
  border-radius: 10px;
}
.content{
  background: rgb(33,144,129);
  background: linear-gradient(355deg, rgba(33,144,129,1) 34%, rgba(161,27,215,0.9585084033613446) 76%);

}
/* .content::before{
content: 'hi';
}
.content::after{
  content: "";
} */
.pacman {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  animation: move var(--move), move2 var(--move) 6s;
}
.pacman::before {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    gold 10%,
    transparent 10%,
    transparent 40%,
    gold 40%
  );
  animation: mouth 1s linear infinite;
}
.pacman::after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    gold 10%,
    transparent 10%,
    transparent 40%,
    gold 40%
  );
  animation: mouth2 1s linear infinite;
}
/* ghost*/
.ghost {
  z-index: 3;
  width: 125px;
  height: 125px;
  position: absolute;
  border-radius: 50% 50% 0 0;
  clip-path: polygon(
    0 100%,
    20% 80%,
    35% 100%,
    50% 80%,
    65% 100%,
    80% 80%,
    100% 100%,
    100% 0,
    0 0,
    0 100%
  );
  box-shadow: inset 5px -5px 50px 0 rgba(0, 0, 0, 0.5);
  animation: move var(--move), move2 var(--move) 6s,
    scared 0.125s linear forwards 6s;
  left: 200px;
}
.ghost::before {
  z-index: 3;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  right: 10px;
  top: 40px;
  box-shadow: -40px 0 0 1px white;
}
.ghost::after {
  z-index: 3;
  width: 8px;
  height: 8px;
  background: black;
  border-radius: 50%;
  right: 11px;
  top: 48px;
  box-shadow: -40px 0 0 1px black;
  animation: scared2 0.125s linear forwards 6s;
}
.container_landing > div.ghost:nth-of-type(2) {
  background: red;
}
.container_landing > div.ghost:nth-of-type(3) {
  background: cyan;
  margin: 0 -130px;
}
.container_landing > div.ghost:nth-of-type(4) {
  background: pink;
  margin: 0 -260px;
}
.container_landing > div.ghost:nth-of-type(5) {
  background: orange;
  margin: 0 -390px;
}
/* text */
.text {
  position: relative;
  text-align: center;
}
.text::before {
  content: "IEEE-SSIT";
  position: relative;
  color: transparent;
  font-family: "Monofett", cursive;
  font-size: 3.5rem;
  background: gold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px black;
  letter-spacing: 3px;
  animation: change 0.125s linear forwards 5s, hue 1s linear infinite 9s;
}
.text::after {
  width: 0;
  height: 100px;
  background: black;
  top: 0;
  left: 0;
  animation: wipe 1s linear forwards 2s, wipe2 1s linear forwards 8s;
}



/* animations */
@keyframes mouth {
  0% {
    transform: rotatez(90deg);
  }
  50% {
    transform: rotatez(-90deg);
  }
  100% {
    transform: rotatez(90deg);
  }
}
@keyframes mouth2 {
  0% {
    transform: rotatez(-90deg);
  }
  50% {
    transform: rotatez(90deg);
  }
  100% {
    transform: rotatez(-90deg);
  }
}
@keyframes scared {
  100% {
    background: cornflowerblue;
  }
}
@keyframes scared2 {
  100% {
    width: 50px;
    height: 25px;
    background: white;
    right: 15px;
    top: 65px;
    box-shadow: none;
    border-radius: 0;
    clip-path: polygon(
      0 25%,
      10% 100%,
      30% 50%,
      50% 100%,
      70% 50%,
      90% 100%,
      100% 25%,
      90% 75%,
      70% 25%,
      50% 75%,
      30% 25%,
      10% 75%,
      0 25%
    );
  }
}
@keyframes change {
  from {
    content: "IEEE SSIT";
  }
  to {
    content: "Games and Go";
    font-family: arial;
    position: relative;
    color: transparent;
    font-family: "Monofett", cursive;
    font-size: 50px;
    background: gold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
    letter-spacing: 3px;
  }
}
@keyframes hue {
  to {
    filter: hue-rotate(360deg);
  }
}
@keyframes wipe {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes wipe2 {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes move {
  from {
    transform: rotatey(0) translatex(-1000px);
  }
  to {
    transform: rotatey(0) translatex(1000px);
  }
}
@keyframes move2 {
  from {
    transform: rotatey(180deg) translatex(-1000px);
  }
  to {
    transform: rotatey(180deg) translatex(1000px);
  }
}

/*  cards */

.body_card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  width: 100%;
  background: #161623;
}

.container_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.container_card .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container_card .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container_card .card:hover .content {
  opacity: 1;
  transform: translateY(0px);
}

.container_card .card .content h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  font-family: "Press Start 2P", cursive;
}

.container_card .card .content h3 {
  font-family: "Press Start 2P", cursive;

  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container_card .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.container_card .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  font-family: "Press Start 2P", cursive;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
@font-face {
  font-family: retrogamer;
  src: url("https://db.onlinewebfonts.com/t/4c19fc875e7ba1e6831129de3ab5ac0b.woff2")
    format("woff2");
}

/* Heading in Homepage Game on!! */

.header_homepage {
  margin: auto;
  width: 80%;
  border: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  top: 30px;
  color: white;
  font-family: "Silkscreen", cursive;
  font-size: 3.5rem;
  text-align: center;
}
.header_homepage h1 {
  font-size: 3.5rem;
  width: 100%;
}
.music-btn {
  text-align: center;
  font-size: 1.1em;
  color: #551a88;
  margin-top: 2rem;

  font-family: "Press Start 2P", cursive;
}
