@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.body_navbar {

  font-size: 30pt;
  font-family: 'Press Start 2p';
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.video-game-button {
	text-shadow: 1px 1px pink, -1px -1px maroon;
  font-family: 'Press Start 2P', cursive;
	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
}
.start-btn{
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}