@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.link{
	text-decoration: none;
	color: red;
}
.link:hover{
	color: lightcyan;
}
.body_navbar {
  width: 80%;
  margin: auto 10%;
  font-size: 30pt;
  border-radius: 25px;
  border: 15px groove lightblue;
  color: red;
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: space-around;
}
/* CSS FOR A AND B BUTTON in NAVBAR */

.video-game-button {
	text-shadow: 1px 1px pink, -1px -1px maroon;
  font-family: 'Press Start 2P', cursive;
	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
}
.video-game-button:hover{
	background-color: lightblue;
	color: red;
	box-shadow:  0 .2em lightcyan;
}

/* Css for Home button in Navbar */
.start-btn{
    text-align: center;
	display: inline-block;
	margin:5px;
    color: brown;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}