*{
    font-family: "Peralta", cursive;
}
.BBContainer {
    text-align: center;
    margin: 25px 0;
}
#canvas {
    background-color: #134959;
    border-radius: 20px;
}
.note {
    color: #ffe;
    font-size: 20px;
}
.gameHeader {
    font-family: "Sedgwick Ave", cursive;
    color: white;
    font-size: 40px;
}