body{
	background-color: black;
	margin:0;
	font-family:math;
	max-width: none;
}
.square{
	width:30%;
	background:purple;
	padding-bottom:30%;
	float:left;
	margin:1.66%;
	border-radius:15%;	
	transition: background 0.4s;
}

#container{
	margin: 20px auto;
	max-width:600px;
}
.App {
    margin: auto;
    width: 60%;
    margin-top: 3rem;
}

h1{
	color: white;
    padding: 20px 0;
    text-align: center;
    background: #a52a2a;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-family: math;
	font-size: 1.5rem;
}

#colordisplay{
	font-size:200%;
}

#stripe{
	background: white;
    height: 25px;
    text-align: center;
    padding: 0.3rem;
}

.selected{
	color:white;
    background: #F44336;
    border-radius: 0.5rem;
    padding: 5px;
}

#msg{
	display:inline-block;
	width:20%;
}


button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: #dc143c;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    outline: none;
}

button:hover{
	color:white;
	background:steelblue;
}
