body{
	background-color:#232323;
	margin:0;
	font-family:"Montserrat","Avenir";
}
.square{
	width:30%;
	background:purple;
	padding-bottom:30%;
	float:left;
	margin:1.66%;
	border-radius:15%;	
	transition: background 0.4s;
}

#container{
	margin: 20px auto;
	max-width:600px;
}

h1{
	color:white;
	padding:20px 0;
	text-align:center;
	background: steelblue;
	margin:0;
	font-weight:normal;
	text-transform:uppercase;
}

#colordisplay{
	font-size:200%;
}

#stripe{
	background:white;
	height:25px;
	text-align:center;
	color:black;
}

.selected{
	color:white;
	background:steelblue;
}

#msg{
	display:inline-block;
	width:20%;
}


button{
	border:none;
	background:none;
	text-transform:uppercase;
	height:100%;
	font-weight:700;
	color:steelblue;
	letter-spacing:1px;
	font-size:inherit;
	transition: all 0.4s;
	outline:none;
}

button:hover{
	color:white;
	background:steelblue;
}
