.container {
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    color: #fff;
    padding: 0;
    width: 350px;
    margin: 0 auto;
    
    text-align: center;
  }
  
  h1 {
    font-size: 100px;
    display: inline-block;
  }
  input {
    font-size: 20px;
  }
  
  .container {
    margin:  auto;
  }
  
  h2 {
    font-size: 35px;
  }
  
  button {
    display: inline-block;
    background-color: #f8d210;
    border: 0;
    width: auto;
    margin: 10px;
    margin-top: 20%;
    border-radius: 10%;
    text-align: center;
    color: #3d550c;
    font-weight: bold;
    font-size: 50px;
  }
  
  