.heading {
  margin-top: 1em;
  margin-bottom: 0;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.7rem;
  justify-content: center;
}

.container {
  padding: 25px;
}
