/*Modifications in styling winnig or loosing*/
.for-winning-loosing{
  background-color: aliceblue;
  color: #4ba4eb;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  padding: 25px;
  width: 70%;
  margin: auto;
  font-size: medium;
  border-radius: 10px;
}

/* Classes for all the headings used  */
/* h1{
  color: #f1f5f9;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
} */


.h {
  color: #4ba4eb;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  padding: 12px;
  margin: 10px;
  text-align: center;
}
.fancy {
  color: white;
  font-family: "Peralta", cursive;
  text-align: center;
}

.keypad {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.keypad > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    margin: 0.5em 0;
    height: 4em;
}

.keypad > div > div {
    cursor: pointer;
    background-color: #4ba4eb;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 1em;
    box-shadow: 2px 2px 4px rgba(120, 128, 167, 0.63);
}

.keypad > div > div:hover {
    background-color: #4196dc;
    box-shadow: none;
}
