/* Classes for all the headings used  */
.h {
  color: #4ba4eb;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
}
.fancy {
  color: white;
  font-family: "Peralta", cursive;
  text-align: center;
  padding: 2%;
}

.keypad {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.keypad > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    margin: 0.5em 0;
    height: 4em;
}

.keypad > div > div {
    cursor: pointer;
    background-color: #4ba4eb;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 1em;
    box-shadow: 2px 2px 4px rgba(120, 128, 167, 0.63);
}

.keypad > div > div:hover {
    background-color: #4196dc;
    box-shadow: none;
}

.rePlay{
  position: fixed;
  right: 8%;
  bottom: 2%;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    font-family: "Press Start 2P", cursive;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}