#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.9em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #141415;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.board-top {
  background-color: black;
  border: 10px solid #141415;
  border-bottom: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.board-bottom {
  background-color: black;
  border: 10px solid #141415;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
