@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
  background:'blue';
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', monospace;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#p1 {
  width:100px;
  height:100px;
}

.p1Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
/*   background: red; */
}

#p1Name {
  font-size: 30px;
}

#p1Health {
  font-size: 50px;
}

#p2{
  width:100px;
  height:100px;
}


.p2Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
/*   background: red; */
}

#p2Name {
  font-size: 30px;
}

#p2Health {
  font-size: 50px;
}

.playerControls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}

.AttackDiv{
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 40px;
  width: 100px;
/*   background: blue; */
}

.HealDiv {
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 40px;
  width: 100px;
/*   background: yellow; */
}

#attack {
  height: 30px;
  width: 60px;
  border-radius: 50px;
  border:none;
  background: #FFFF01;
  outline: none;

}

#heal {
  height: 30px;
  width: 60px;
  border-radius: 50px;
  border:none;
  background: #7DFFFF;
  outline: none;

}

#play {
  height: 50px;
  width: 120px;
  border-radius: 20px;
/*   border:none; */
  background: #02cf02;
  outline: none;
  color: white;
}

#result {
  font-size: 50px;
  color : #3dff3d;
}

#reset {
  margin-top: 20px;
  height: 50px;
  width: 100px;
  border-radius: 20px;
/*   border:none; */
  background: #FF8800;
  outline: none;
  color: white;
}

.resultContainer {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:150px;
  width: 300px;
}