/* *{
  margin: 0;
  padding: 0;
} */

body {
    background-color: #393E46;
  }
  
  .container {
    width: 70%;
    margin: auto;
    text-align: center;
  
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  }
  
  h1 {
    margin: 0px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 5rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
    max-width: 200px;
    margin: 10px;
  }
  
  .result {
    font-size: 3rem;
    font-weight: bold;
    color: #4ECCA3;
    margin: 20px 0;
  }
  
  
  .dice{
    margin : 20px;
    text-align: center;
    display: inline-block;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #4ECCA3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #31947D;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  