.fifpuzzle-game {
  position: relative;
}
.fifpuzzle-board {
  display: grid;
  grid-template-columns: repeat(4, var(--size));
  grid-template-rows: repeat(4, var(--size));
  border-radius: 10px;
  position: relative;

  overflow: hidden;
  border: 10px solid #55ab9f;
}
