body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('background.png');
    background-size: cover;
  }
  
  #gameContainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  #hangmanContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  #hangmanImage {
    max-width: 200px;
    height: auto;
  }
  
  #wordContainer {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #guessContainer {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #guessInput {
    padding: 5px;
    font-size: 16px;
    width: 30px;
  }
  
  #guessButton {
    padding: 5px 10px;
    font-size: 16px;
  }
  
  #guessesRemaining, #guessedLetters, #message {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  