.fifpuzzle-winner {
  position: absolute;
  background: var(--tile);
  border-radius: 10px;
  top: 0;
  z-index: 100;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}
