.BallShootingCanvas {
  margin: auto;
  max-width: 100%;
}

.BallShootingScore {
  color: white;
  text-align: center;
  margin: 10px;
}

.BallShootingStats h1 p {
  color: black !important;
}

#modalEl {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .BallShootingCanvas {
    min-height: 100%;
    margin: auto;
  }
}
