.App {
  max-width: 860px;
  /* margin: 40px auto; */
}
.Magic{
  background-color: #708090;
    border: 40px solid #656363;
    height: 100%;
    max-width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Magic > p{
  margin-top: 5rem;
  font-size: 30px;
}
.Magic > button{
  display: inline-block;
    background-color: #f8d210;
    border: 0;
   
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    
    border-radius: 20px;
    text-align: center;
    color: #3d550c;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}
.Magic > button:hover {
  background: #38c254;
  color: #211d1d;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 95%;
  height: auto;
  padding: 10px;
}
.Magic h1{
  margin-top:62px;
}

