@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: crosshair;
}

.logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .logo i {
    font-size: 20px;
}


#canvas{
    background-color: rgb(24,28,31);
}

.startGame{
    z-index: 1;
    display: flex;
    width: 100vw;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    font-family: 'Poppins';
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(24,28,31);
    color: white;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home h1{
    text-align: center;
    margin: 0;
    line-height: 40px;
}

.home h1 span{
    font-size: 1.1rem;
}

#startGameBtn{
    margin: 12px 0;
    padding: 8px 16px;
    color: white;
    width: 60%;
    background-color: rgb(78, 42, 49);
    outline: none;
    font-size: 22px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    align-items: center;
    transition: .2s;
}

#startGameBtn:hover{
    background-color: rgb(133, 38, 38);
}

.copyRight{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}


.countDown{
    color: white;
    font-family: 'Poppins';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 13;
}

.countDown h1{
    animation: animCount 8s linear ease-in;
}

@keyframes animCount {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2.2);
    }
}

#inGameContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10;
    color: white;
    font-family: 'Poppins';
    box-sizing: border-box;
    pointer-events: none;
    display: flex;;
    padding: 10px 20px;
}

#inGameContainer .gameCountTime{
    position: absolute;
    top: 15px;
    right: 10px;
}

.gameCountTime h1{
    width: 120px;
}

#strikeCountDiv{
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.strikeCount{
    animation: animStrikeCount .2s linear;
    width: 45px;
    height: 45px;
}

@keyframes animStrikeCount {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2.5);
    }
}

.gameHeading{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 12;
    font-family: 'Poppins';
    transform: translateX(-50%);
    background-color: rgb(78, 42, 49);
    color: white;
    padding: 4px 14px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.gameHeading p{
    margin: 0;
}


#gameEndDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 28, 31, 0.5);
    z-index: 15;
    display: none;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.gameEndContainer{
    background-color: rgb(145, 58, 72);
    /* background-color: rgb(255, 49, 84); */
    /* border: 2px solid white; */
    border-radius: 6px;
    pointer-events: all;
    color: white;
    padding: 25px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.697);
    text-align: center;
    font-family: 'Poppins';
}

.gameEndContainer h1{
    font-size: 1.5rem;
    text-align: center;
}

.gameEndContainer p{
    font-size: 22px;
}

.subscribe{
    background-color: #FF0000;
    padding: 2px 6px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

#returnHome{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 22px;
    cursor: pointer;
}







/* -----------------Bottom Github Source Code Link Styling ------------------------ */


.sourceCodeLink{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 54px;
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 6px 8px;
    border-radius: 55px;
    transition: .2s;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.sourceCodeLink img{
    width: 55px;
    border-radius: 50%;
}

.sourceCodeLink p{
    font-family: 'Poppins';
    font-size: 1.5rem;
    margin: 0;
    margin-left: 10px;
    text-decoration: none;
    white-space: nowrap;
}

.sourceCodeLink:hover{
    width: 222px;
}
