
  .h {
    color: #efa37f;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 12px;
    margin: 10px;
    text-align: center;
    font-family: math;  
  }
.fancy {
    color: white;
    font-family: "Peralta", cursive;
    text-align: center;
    margin-top: 2rem;
}
button.start-btn {
    font-weight: normal;
    background: #ccf281;
    color: #534246;
    text-shadow: none;
    box-shadow: none;
    font-size: 1.4rem;
    border-radius: 1rem;
    padding: 1.3rem 6rem;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: math;
}
div {
    color: #ccf281;
}
.board {
    width: 100%;
    max-width: 720px;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    aspect-ratio: 1;
    width: 40%;
}

.box {
    margin: 0.5em;
    background-color: white;
    border-radius: 1em;
}

.active {
    background-color: #4ba4eb;
}

.start-btn {
    width: 160px;
}