* {
    margin : 0;
    padding : 0;
    font-family : 'Poppins' , sans-serif;
    box-sizing : border-box;
}
body {
    background : #222;
}
.app{
    background : #fff;
    width : 90%;
    max-width : 600px;
    margin : 100px auto 0;
    border-radius : 10px;
    padding : 30px;
}

.app h1{
    font-size : 25px;
    color : #711010;
    font-weight : 600;
    border-bottom : 1px solid #333;
    padding-bottom : 30px;
}
.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size : 18px;
    color: #061748;
    font-weight : 600;
}

.btn{
    background-color: #fff ;
    color : #222;
    font-weight : 500;
    width: 100%;
    border : 1px solid #222;
    padding : 10px ;
    margin : 10px 0;
    text-align : left;
    border-radius : 4px;
    cursor : pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: pointer;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight :500;
    width : 150px;
    border : 0;
    padding : 10px;
    margin : 10px auto 0;
    border-radius: 22px;
    cursor : pointer;
    text-align : middle;
    display: none;
}

.correct{
    background : #9aeabc;
}
.incorrect{
    background : #ff9393;
}