.key {
  background-color: white;
  height: 300px;
  width: 60px;
  border: 2px solid black;
}

.key.flat {
  position: relative;
  background-color: black;
  margin-left: -17px;
  margin-right: -17px;
  height: 200px;
  width: 30px;
  z-index: 2;
}

.key.pressed, .key.flat.pressed {
  background-color: #00d8ff;
}

.key-text {
  position: relative;
  color: black;
  font-weight: 600;
  font-size: 36px;
  margin-top: 240px;
  pointer-events: none;
}