body {
  font-family: math;
}
.imported-text {
  font-size: medium;
  font-weight: 500;
  padding: 20px;
  line-height: normal;
  position: relative;
  width: 65%;
  margin: auto;
  text-align: justify;
  color: azure;
}

