.loader {
  margin-top: 25%;
  margin-left: 45%;
  z-index: 1000;
  box-shadow: white 8px;
}
.loader1 {
  margin-top: 2%;
  margin-left: 28%;
  z-index: 1000;
  color: rgb(245, 241, 7);
  font-size: 34px;
}
