@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Peralta&display=swap");


/* Modified UI of score */

.for-score{
    background-color: aliceblue;
    color: #4ba4eb;
    padding: 20px;
    border-radius: 15px;
}


.rock-paper-scissors{
    font-family: "Press Start 2P", cursive;
    text-align: center;
    color: #fff;
    padding: 20px 20px;
}
.rps-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.user-choice-btns{
    display: flex;
    gap: 10px;
}
.rock-paper-scissors h1{
    color: #4ba4eb;
}
@media  screen and (max-width:768px) {
    .rock-paper-scissors h1{
        font-size: 1.4rem;
    }
    .user-choice-btns{
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
    }
    .user, .computer{
        margin-top: 20px;
    }
    .user img, .computer img{
        width: 150px;
    }
}
@media  screen and (max-width:650px) {
    .rps-container{
        flex-direction: column;
        align-items: center;
    }
}