
.App {
    text-align: center;
  }
  .App-header {
    background-color: #282c34;
    background-color: #00226d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .App-link {
    color: #61dafb;
  }
  .aligned{
    display: flex;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
  }
  .heading{
    text-align: center;
    color: white;
    font-size:35px;
    text-shadow:2px 1px rgb(154, 255, 255);
  }
  